<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="base_link"></link>

  <link name="chassis_link"></link>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="usb_left_frame"></link>
  <joint name="usb_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="usb_left_frame" />
    <origin xyz="0 0.1 0" rpy="-1.57 0 0" />
  </joint>

  <link name="usb_right_frame"/>
  <joint name="usb_right_joint" type="fixed">
      <parent link="base_link"/>
      <child link="usb_right_frame"/>
      <origin xyz="0 -0.1 0.0" rpy="1.57 3.14 0" />
  </joint>

  <link name="usb_front_frame"/>
  <joint name="usb_front_joint" type="fixed">
      <parent link="base_link"/>
      <child link="usb_front_frame"/>
      <origin xyz="0.1 0 0.0" rpy="-1.57 0 -1.57" />
  </joint>

  <link name="usb_back_frame"/>
  <joint name="usb_back_joint" type="fixed">
      <parent link="base_link"/>
      <child link="usb_back_frame"/>
      <origin xyz="-0.1 0 0.0" rpy="-1.57 0 1.57" />
  </joint>

  <link name="livox_frame"> </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="livox_frame" />
    <origin xyz="0.2 -0.1 0.0" rpy="3.14 0.0 -1.57" />
  </joint>

  <link name="imu_link"> </link>
  <joint name="imu_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="laser_sensor_frame"> </link>
  <joint name="laser_joint" type="fixed">
    <parent link="imu_link" />
    <child link="laser_sensor_frame" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="navsat_link"> </link>
  <joint name="navsat_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="navsat_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
